#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #f7f6f1;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 960px;
	@extend %clearfix;
}

h1 {
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}

a {
	color: $orange;
	text-decoration: none;
}

input:not([type="submit"]):not([type="reset"]),
textarea {
	margin: 0;
	padding: 6px 10px;
	width: 100%;
	background: $white;
	border: 1px solid #dad9d4;
	border-radius: 2px;
	font: 12px/1.2 $base-font-family;

	@include placeholder {
		color: $black;
	}

	&:focus {
		border: 1px solid darken(#dad9d4, 20%);
		outline: 0;
	}
}

input:not([type="submit"]):not([type="reset"]) {
	height: 30px;
}

.input-wrap {
	margin-bottom: 23px;

	.input-title {
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;
	}

	.required {
		color: #9c9c9c;
	}
}


.btn {
	font: 700 14px/16px  'Open Sans Condensed', $base-font-sans-serif;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	padding: 8px 18px;
	margin: 0 10px 0 0;
	border-radius: 2px;
	background: $orange;
	display: inline-block;
	vertical-align: top;
	border: none;

	&:hover {
		background: darken($orange, 5%);
	}
}

.page-header {
	background: url(../images/pat1-2x.png), linear-gradient(to right, rgba(97,89,87,1) 0%,rgba(90,82,80,1) 44%,rgba(86,81,78,1) 48%,rgba(77,72,69,1) 86%,rgba(76,71,68,1) 100%);
	border-top: 1px solid darken(#56504e, 5%);
	padding: 36px 0;
	margin-bottom: 46px;

	@include media ('<480px') {
		padding: 18px 0;
	}

	.title {
		font:  700 24px/28px 'Open Sans Condensed', $base-font-sans-serif;
		color: $white;
		text-transform: uppercase;
	}

	.breadcrumbs-nav {
		float: right;
		margin-top: 10px;
		font-size: 11px;
		line-height: 12px;
		color: $light-gray;

		@include media ('<480px') {
			float: none;
		}

		ul {
			@extend %listreset;
		}

		.breadcrumbs {
			li {
				display: inline-block;
				vertical-align: top;
				padding: 0  0 5px 20px;
				position: relative;

				@include media ('<480px') {
					padding: 0 30px 7px 0 ;
				}

				&:before {
					content: ">";
					color: $orange;
					position: absolute;
					top: 0;
					line-height: inherit;
					left: 8px;

					@include media ('<480px') {
						left: -20px;
					}
				}

				&:first-child:before {
					display: none
				}
			}

			a {
				color: $white;
				font-size: 11px;
				line-height: 12px;
				text-decoration: none;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;

	.column-2 {
		width: 50%;
	}

	.column-4 {
		width: 25%;
	}
}

.block-title {
	font:700 22px/24px  'Open Sans Condensed', $base-font-sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.column-2-holder {
	>.column-2 {
		@include media ('<tablet') {
			width: 100%;
		}
	}
}

.location {
	.map-holder {
		margin-bottom: 16px;
		padding: 6px;
		background: #f5f5f5;
		border: 2px solid $white;

		iframe {
			width: 100%;

		}
	}
}

.contact {
	margin-left: 10px;

	form {
		background: #f1f0eb;
		padding: 20px;
	}

	@include media ('<tablet') {
		margin-left: 0;
	}
}

address {
	font: 700 12px/20px $base-font-sans-serif;

	.title {
		display: block;
		font-weight: 400;
		margin-bottom: 16px;
	}

	a {
		font-weight: 400;
		&:hover {
			opacity: 0.8;
		}
	}

	.tel-links {
		a {
			color: $gray;
		}
	}
}

.contact-section {
	margin-bottom: 50px;
}