#footer {
	background:  url(../images/pat1-2x.png), linear-gradient(to right, rgba(64,57,49,1) 0%,rgba(60,56,47,1) 22%,rgba(62,55,49,1) 22%,rgba(60,53,45,1) 33%,rgba(57,52,46,1) 44%,rgba(54,49,43,1) 59%,rgba(60,53,47,1) 100%);
	color: $light-gray;
	padding-top: 54px;

	.footer-block-title {
		font: 700 16px/30px  'Open Sans Condensed', $base-font-sans-serif;
		color: $white;
		margin-bottom: 20px;
		text-transform: uppercase;
		display: block;
		border-bottom: 1px solid $gray;
	}

	a {
		&:hover {
			opacity: 0.8;
		}
	}

	>.container {
		>.row {
			margin-left: -10px;

			@include media ('<480px') {
				margin-left: 0;
			}
		}
	}

	.column-4{
		@include media ('<tablet') {
			width: 50%;
		}

		@include media ('<480px') {
			width: 100%;
		}
	}
}

.social-list {
	@extend %listreset;
	li {
		display: inline-block;
		margin-right: 2PX;
		margin-bottom: 8px;
	}

	a {
		color: $light-gray;
		display: block;
		text-decoration: none;

		&:hover {
			opacity: 1;
			color: $orange;
		}
	}

	.icon-twitter,
	.icon-facebook,
	.icon-g,
	.icon-rss,
	.icon-world {
		display: block;
		font-size: 18px;
		line-height: 20px;
		height: 32px;
		width: 32px;
		background: $gray;
		border-radius: 50%;
		padding:7px 0px 0 7px;

		@include media ('<desktop') {
			font-size: 16px;
			line-height: 16px;
			height: 26px;
			width: 26px;
			padding: 5px 0px 0 5px;
		}
	}
}

.footer-block {
	padding: 0 10px 30px;

	@include media ('<480px') {
		padding: 0 10px 20px;
	}
}

.call_us {
	font: 700 24px/26px  'Open Sans Condensed', $base-font-sans-serif;



}

.twit {
	font: 12px/18px "Noto Serif", $base-font-serif;
	padding: 0 0 18px 20px;
	position: relative;

	p {
		margin-bottom: 0;
	}

	.date {
		color: $white;
		font-size: 10px;
		line-height: 12px;
	}

	.icon-twitter {
		position: absolute;
		z-index: 100;
		left: 0;
		top: 2px;
		font-size: 14px;
		line-height: 14px;
		color: $white;
		background: none;
	}
}

.blog {
	ul {
		@extend %listreset;
		li {
			padding: 0 0 16px 20px;
			position: relative;

			span {
				position: absolute;
				z-index: 100;
				left: 0;
				top: 2px;
				font-size: 14px;
				line-height: 14px;
				color: $white;
				background: none;
			}
		}
	}

	a {
		font-size: 12px;
		line-height: 18px;
	}
}

.flickr {
	.row {
		margin-left: -5px;
		
		.img-holder {
			width: 33.3%;
			height: auto;
			padding: 0 5px 10px;

			img {
				width: 100%;
			}
		}
	}
}

.bottom-row {
	padding: 24px 0;
	background: url(../images/pat1-2x.png), #25211d;
	border-top: 1px solid darken(#25211d, 5%)
}