#header {
	background: url(../images/light-h-bg.jpg) repeat-x;
	min-height: 120px;

	.top-row {
		height: 36px;
		background: url(../images/bg-top.jpg) repeat-x;
		border-bottom: 1px solid #181613;


		.top-row-wrap {
			margin: 0 auto;
			padding: 10px 10px 0;
			max-width: 960px;
			font: 11px/12px $base-font-sans-serif;
			color: $light-gray;
		}

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $orange;
			}
		}

		.title {

		}
		.user-box {
			float: right;
		}
	}

	.logo {
		margin-top: 27px;
		display: inline-block;
	}	

	ul {
		@extend %listreset;
	}

}

.text-slogan {
	font: 10px/20px 'Noto Serif', $base-font-serif;
	color: $light-gray;
	margin-top: 30px;
	margin-left: 11px;
	padding-left: 13px;
	display: inline-block;
	vertical-align: top;
	height: 20px;
	border-left: 1px solid $light-gray;


}

.logo {

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		display: inline-block;
		vertical-align: top;

		&:hover {
			opacity: 0.8;
		}
	}
}

// .nav {
// 	ul {
// 		font-size: 0;
// 		line-height: 0;
// 	}
// }

.nav-holder {
	float: right;
	margin-top: -10px;
}

.navbar-nav {
	font-size: 0;
	line-height: 0;


	>li {
		font: bold 14px/16px 'Open Sans Condensed', $base-font-serif;
		font-weight: 900;
		position: relative;
		z-index: 999;

		>a {
			padding: 43px 21px 20px 22px;
			position: relative;

			&:after {
				content: '';
				height: 4px;
				width:  4px;
				border-radius: 50%;
				background: $orange;
				position: absolute;
				z-index: 900;
				top: 50px;
				right: 2px;
			}
		}

		&:last-child {
			>a {
				&:after {
					display: none;
				}
			}
		}
	}

	li {
		display: inline-block;
		vertical-align: top;

		a{
			color: #38332c;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
		}
	}


}


.second-level {
	width: 160px;
	background: #38332c;
	border-top: 1px solid $orange;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	top: 90px;
	left: 12px;
	right: 0;

	&:before {
		content: '';
		width: 100%;
		height: 20px;
		position: absolute;
		z-index: -1;
		top: -14px;
	}

	li {
		width: 100%;

		a {
			font-size: 12px;
			line-height: 14px;
			padding: 8px 18px;
		}
	}

}

.active {
	background: $orange;
	



}


.hover {
	>a {
		background: $orange;
	}

	a {
		color: $white!important;
	}

	.second-level {
		visibility: visible;
		opacity: 1;

		li {
			
			
		}
	}

	
}