#header {
	background: url(../images/pat1.png), #e5e4df;

	.top-row {
		background: url(../images/pat1-2x.png), linear-gradient(to right, rgba(64,57,49,1) 0%,rgba(62,55,49,1) 26%,rgba(52,47,41,1) 71%,rgba(50,45,39,1) 100%);
		border-bottom: 1px solid #181613;
		font: 11px/12px $base-font-sans-serif;
		color: $light-gray;
		padding: 10px 10px 15px;

		@include media('<desktop') {
			padding: 10px 0 15px;
		}

		a {
			color: $white;
			text-decoration: none;
			@include animate(color);

			&:hover {
				color: $orange;
			}
		}

		.user-box {
			float: right;
			@include media('<480px') {
				float: none;
			}
		}
	}

	.logo {
		display: inline-block;
		vertical-align: top;
		width: 75px;
	}	

	ul {
		@extend %listreset;
	}

	.title {
		@include media('<480px') {
			display: block;
			margin-bottom: 6px;
		}
	}
}

.nav-holder {
	padding: 30px 0 15px;
	position: relative;

	@include media('<tablet') {
		padding: 20px 0;
	}
}

.text-slogan {
	font: 10px/20px 'Noto Serif', $base-font-serif;
	color: $light-gray;
	margin: 5px 0 0 23px;
	display: inline-block;
	vertical-align: top;
	position: relative;

	&:after {
		content: '|';
		font-size: 20px;
		color: $light-gray;
		position: absolute;
		left: -15px;
		top: -2px;
	}
}

.logo {

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	a {
		display: inline-block;
		vertical-align: top;
	}
}

.nav {
	float: right;
	margin-top: -40px;

	@include media("<=tablet"){
		position: absolute;
		z-index: 999;
		top: 115px;
		left: 0;
		right: 0;
		z-index: -1
	}
}

.navbar-nav {
	font-size: 0;
	line-height: 0;

	>li {
		font: bold 14px/16px 'Open Sans Condensed', $base-font-serif;
		font-weight: 900;
		position: relative;
		z-index: 999;

		&.active,
		&.hover {
			>a {
				box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.25);
			}

			&:before {
				@include media(">tablet") {
					content: '';
					position: absolute;
					z-index: 110;
					top: 0;
					right: -10px;
					border: 5px solid transparent;
					border-bottom: 5px solid #000;
					border-left: 5px solid #000;
				}
			}
		}

		&:after {

			@include media(">tablet"){
				content: '\2022';
				color: $orange;
				position: absolute;
				z-index: 900;
				top: 42px;
				right: 2px;
			}
		}

		>a {
			padding: 20px;

			@include media(">tablet"){
				padding: 43px 21px 20px 22px;
			}
		}

		&:last-child {
			>a {
				&:after {
					display: none;
				}
			}
		}
	}

	li {
		text-transform: uppercase;

		a{
			color: #38332c;
			text-decoration: none;
			display: block;
		}

		@include media(">tablet"){
			display: inline-block;
			vertical-align: top;
		}
	}

	.hover {

		>a {
			color: $white!important;
			background: $orange;
			transition: all 0.3s ease;
		}

		.second-level {
			visibility: visible;
			opacity: 1;
			@include media("<=tablet") {
				display: block;
			}
		}
	}

	@include media("<=tablet") {
		visibility: hidden;
		opacity: 0;
	}

	.active {
		background: $orange;
		>a {
			color: $white;
		}
	}
}

.second-level {
	min-height: 90px;
	background: #38332c;
	border-top: 1px solid $orange;
	opacity: 0;
	@include animate(opacity visibility);
	
	@include media("<=tablet") {
		display: none;
	}

	@include media(">tablet") {
		visibility: hidden;
		position: absolute;
		z-index: 100;
		width: 160px;
		top: 90px;
		left: 12px;
		right: 0;

		&:before {
			content: '';
			width: 100%;
			height: 20px;
			position: absolute;
			z-index: -1;
			top: -14px;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 110;
			top: -11px;
			left: 22px;
			border: 5px solid transparent;
			border-bottom: 5px solid $orange;
		}
	}

	li {
		width: 100%;
		border-bottom: 1px solid #322e28;

		a {
			font-size: 12px;
			line-height: 14px;
			padding: 8px 18px;
			color: $white;
		}
	}
}



.nav-opener {
	width: 32px;
	height: 24px;
	display: block;
	position: absolute;
	z-index: 999;
	right: 20px;
	top: 24px;

	@include media(">tablet"){
		display: none;
	}

	& span,
	&:before,
	&:after {
		transition: background .35s ease-in-out;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		top: 0;
		height: 3px;
		background: $orange;
	}
	&:before,
	&:after {
		content: "";
		
	}

	&:after {
		top: 10px;
	}
	& span {
		top: 21px;
	}
}

.nav-active {

	.nav {
		z-index: 999;
	}

	.navbar-nav {
		background: #e5e4df;
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
	}

	.nav-opener {


		&:before, &:after {
			top: 50%;
			
		}
		&:before{
			transform: translate(-50%, -50%) rotate(-45deg)  ;
		}
		&:after {
			transform: translate(-50%, -50%) rotate(45deg)  ;
		}

		& span {
			opacity: 0;
		}
	}
}
